.venv

__pycache__/

data/raw/*.csv
data/raw/*.txt 
data/raw/*.xls
data/raw/*.parquet

data/processed/*.parquet
data/processed/powerbi*.*
data/processed/dgt_top*

# Ignoramos src/ temporalmente: el código aún no es definitivo.
# Se liberará cuando los módulos estén terminados.
src/sp*
prueba.py
notebooks/temp
