.venv

__pycache__/

data/raw/*.csv
data/raw/*.txt 
data/raw/*.xls
data/raw/*.parquet

data/processed/*.parquet

# Ignoramos src/ temporalmente: el código aún no es definitivo.
# Se liberará cuando los módulos estén terminados.
src/*

