.venv

__pycache__/

# Ignoramos los archivos de datos, pero mantenemos el PDF específico y los archivos de Power BI que necesitamos
data/raw/*
data/processed/*

!data/raw/Interfaz-de-Salida-Fichero-Parque-Anual.pdf
!data/processed/powerbi_*
